/*---HEADER STUFF---*/
.header{
    opacity: 80%;
    background: cadetblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 12rem;
    color: azure;
    font-size: 20px;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    margin-bottom: 35px;
    text-align: -webkit-center;
}
#header-title{
    margin-bottom: 10px;
    text-shadow: 1px 1px black;
    cursor: pointer;
}
#img{
    width: 125px;
    height: 125px;
    padding-left: 20px;
    padding-right: 20px;
}
#btn-header-left, #btn-header-right{
    padding: 10px;
    width: 100%;
    transition-duration: 0.4s;
    font-size: medium;
    border: transparent;
    background-color: azure;
    cursor: pointer;
    border-radius: 25px;
}
#btn-header-left:hover{
    background-color: cadetblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: azure;
}
#btn-header-right:hover{
    background-color: cadetblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: azure;
}
#logout-png{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
#logout-div{
    text-align: left;
    position: absolute;
    padding-top: 0.5rem;
}
/*---HEADER STUFF SLUT---*/

/*---.CONTAINER BLÅ FORM---*/
.container{
    background-color: lightblue;
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*---.CONTAINER BLÅ FORM slut---*/

/*---OPSÆTNING AF td's I CREATE ORDER---*/
.table-class-td-class{
    width: 100%;
}
.table-class-td-class-fucker{
    padding-left: 1rem;
}
.table-class-td-class-left{

/*   //TODO Få det til at virke*/
    margin-right: 10%;
}
/*---OPSÆTNING AF td's I CREATE ORDER SLUT---*/

/*---EKSISTERENDE KUNDE TOP AF FORM---*/
#input-existing{
    width: 100%;
    font-size: larger;
    text-align: left;
}
#table-upper {
    padding-bottom: 1rem;
    width:100%;
}
#existing-email-td{
    width: 0%;
}
/*---EKSISTERENDE KUNDE TOP AF FORM SLUT---*/

/*---TEXT+STREG I CREATE ORDER FORM---*/
.p-create-order{
    font-weight: bold;
    text-align: left;
    padding-right: 25px;
}
.hr-create-order{
    opacity: 75%;
    background-color: azure;
    border: transparent;
}
/*---TEXT+STREG I CREATE ORDER FORM SLUT---*/

/*---ORDER-INFO SECTION---*/
.order-info-div{
    background-color: aquamarine;
}
body{
    background-color: azure;
    padding-bottom: 5rem;
    font-family: Helvetica;
}
/*---ORDER-INFO SECTION SLUT---*/

/*---KUNDEINFORMATION + TEKNISK INFORMATION---*/
#table-class-costumer-info{
    display: table-row-group;
    vertical-align: center;
}
.table-class{
    padding-bottom:1rem;
}
#card-date, .input-font-color, .date{
    font-family: "Arial";
    color: dimgrey;
    display: flex;
    padding-right: 22px;
}
/*---KUNDEINFORMATION + TEKNISK INFORMATION SLUT---*/

/*---MOTORHOME TYPES DROPDOWN---*/
.drop-down-motorhomes .form-control{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    font-size: larger;
    cursor: pointer;
}
/*---MOTORHOME TYPES DROPDOWN SLUT---*/

/*---STOR KNAP (create order, login etc)---*/
.btn{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    transition-duration: 0.4s;
    font-size: larger;
    border: transparent;
    background-color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: lightgreen;
    color: black;
}
/*---STOR KNAP (create order, login etc) SLUT---*/

/*---LOGIN---*/
#login-email, #password{
    font-size: medium;
    width: 100%;
    margin-bottom: 1rem;
}

#failed-login{
    display: none;
    text-align: center;
}
/*---LOGIN SLUT---*/

/*---FOOTER---*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: white;
    text-align-last: center;
}
/*---FOOTER SLUT---*/
