/*---HEADER STUFF---*/
.header{
    opacity: 80%;
    background: cadetblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 10rem;
    color: azure;
    font-size: 20px;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    margin-bottom: 35px;
    text-align: -webkit-center;
}
#header-title{
    margin-bottom: 10px;
    margin-top: 0px;
    text-shadow: 1px 1px black;
}
#img{
    width: 125px;
    height: 125px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
#btn-header-left, #btn-header-right{
    padding: 10px;
    width: 100%;
    transition-duration: 0.4s;
    font-size: medium;
    border: transparent;
    background-color: azure;
    cursor: pointer;
    border-radius: 25px;
}
#btn-header-left:hover{
    background-color: cadetblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: azure;
}
#btn-header-right:hover{
    background-color: cadetblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: azure;
}
#logout-png{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
#logout-div{
    text-align: left;
    position: absolute;
    padding-top: 0.5rem;
}

/*---HEADER STUFF SLUT---*/

/*---.CONTAINER BLÅ FORM---*/
.container{
    background-color: lightblue;
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.container-add-extras{
    background-color: lightblue;
    margin: auto;
    width: 25%;
    padding: 10px;
    height: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*---.CONTAINER BLÅ FORM slut---*/

/*---OPSÆTNING AF td's I CREATE ORDER---*/
.table-class-td-class{
    width: 100%;
}
.table-class-td-class-fucker{
    padding-left: 1rem;
}
.table-class-td-class-left{
    padding-right: 10%;
}
/*---OPSÆTNING AF td's I CREATE ORDER SLUT---*/

/*---EKSISTERENDE KUNDE TOP AF FORM---*/
#input-existing{
    width: 100%;
    font-size: larger;
    text-align: left;
}
#table-upper {
    padding-bottom: 1rem;
    width:100%;
}
#existing-email-td{
    width: 0%;
}
/*---EKSISTERENDE KUNDE TOP AF FORM SLUT---*/

/*---TEXT+STREG I CREATE ORDER FORM---*/
.p-text-over-underline{
    font-weight: bold;
    text-align: left;
    padding-right: 25px;
}

.hr-underline{
    opacity: 75%;
    background-color: azure;
    border: transparent;
}
/*---TEXT+STREG I CREATE ORDER FORM SLUT---*/

/*---ORDER-INFO SECTION---*/
.order-info-div{
    background-color: aquamarine;
}
body{
    background-color: azure;
    padding-bottom: 5rem;
    font-family: Helvetica;
}
/*---ORDER-INFO SECTION SLUT---*/

/*---KUNDEINFORMATION + TEKNISK INFORMATION---*/
#table-class-costumer-info{
    display: table-row-group;
    vertical-align: center;
}
.table-class{
    padding-bottom:1rem;
}
#card-date, .input-font-color, .date{
    font-family: "Arial";
    color: dimgrey;
    display: flex;
    padding-right: 22px;
}
/*---KUNDEINFORMATION + TEKNISK INFORMATION SLUT---*/

/*---MOTORHOME TYPES DROPDOWN---*/
.drop-down-motorhomes .form-control{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    font-size: larger;
    cursor: pointer;
}
/*---MOTORHOME TYPES DROPDOWN SLUT---*/

/*---STOR KNAP (create order, login etc)---*/
.btn{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    transition-duration: 0.4s;
    font-size: larger;
    border: transparent;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: lightgreen;
    color: black;
}

/*---STOR KNAP (create order, login etc) SLUT---*/

/*---LOGIN---*/
#login-email, #password{
    font-size: medium;
    width: 100%;
    margin-bottom: 1rem;
}

#failed-login{
    display: none;
    text-align: center;
}

#easter-egg{
    text-align: center;
    font-size: 400px;
    font-family: "Comic Sans MS";
    display: none;
    position: absolute;
    width: 100%;
    height: 10px;

}

#easter-p{
}
/*---LOGIN SLUT---*/

/*---FOOTER---*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: cadetblue;*/
    background-color: rgba(9,114,106,0.27);
    color: white;
    text-align-last: center;
    height: auto;
    font-size: smaller;
    font-family: Arial;
}
a{
    color: white;
}
/*---FOOTER SLUT---*/

/*---Order-submitted---*/

.td-order-submitted{
    padding-bottom: 10%;
}

.p-order-submitted {
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 10%;
}

/*---Order-submitted---*/

/*---ERROR PAGE---*/
#error-div{
    text-align: center;
    font-family: Helvetica;
}
/*---ERROR PAGE SLUT---*/


/*!* Hide the browser's default checkbox *!*/
/*.label-checkbox {*/
/*    display: block;*/
/*    position: relative;*/
/*    padding-left: 35px;*/
/*    margin-bottom: 12px;*/
/*    cursor: pointer;*/
/*    font-size: 22px;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*.label-checkbox input {*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*    height: 0;*/
/*    width: 0;*/
/*}*/

/*!* Create a custom checkbox *!*/
/*.checkmark {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    background-color: #eee;*/
/*}*/

/*!* On mouse-over, add a grey background color *!*/
/*.label-checkbox:hover input ~ .checkmark {*/
/*    background-color: #ccc;*/
/*}*/

/*!* When the checkbox is checked, add a blue background *!*/
/*.label-checkbox input:checked ~ .checkmark {*/
/*    background-color: #2196F3;*/
/*}*/

/*!* Create the checkmark/indicator (hidden when not checked) *!*/
/*.checkmark:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    display: none;*/
/*}*/

/*!* Show the checkmark when checked *!*/
/*.label-checkbox input:checked ~ .checkmark:after {*/
/*    display: block;*/
/*}*/

/*!* Style the checkmark/indicator *!*/
/*.label-checkbox .checkmark:after {*/
/*    left: 9px;*/
/*    top: 5px;*/
/*    width: 5px;*/
/*    height: 10px;*/
/*    border: solid white;*/
/*    border-width: 0 3px 3px 0;*/
/*    -webkit-transform: rotate(45deg);*/
/*    -ms-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*}*/

/*--- GET FLEET ---*/
.fleet-img{
    width: 7rem;
}
.fleet-img:hover {
    position:relative;
    top:-20px;
    width:200px;
    height:auto;
    display:block;
    z-index:999;
    position: absolute;
}

.fleet-th{
    font-size: large;
    text-align: left;
}

#fleet-img-td{
    width: 9rem;
}

#fleet-name-td{
    width: 14rem;
}

#fleet-size-td{
    width: 8rem;
}

#fleet-price-td{
    width: 10rem;
}

/*--- GET FLEET SLUT---*/


