<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: cadetblue;
            color: white;
            text-align: center;


            }
        a{
            color: white;
        }
    </style>


<body>
<div class="footer">
    <p><b>Nordic Rental Motorhomes</b> <br>
        Københavnsvej 334, 2600 Glostrup
       <br> Telefon: 23 65 78 45 </br>
    <a style="text-decoration: none" href="mailto:info@nordicrental.dk" class="mail">mail: info@nordicrental.dk</a></p>
</div>
</body>
</html>


