<header>
    <div class="header">
        <h1 id="header-title" onclick="window.location.href=''">Nordic Rental Motorhomes </h1>
        <table>
            <td>
                <button id="btn-header-left" onclick="window.location.href='create-order.html'">Opret ordre</button>
            </td>
            <td>
                <div id="header-img"><img id="img" src="../../static/img/Motorhome.png" alt="motorhome"></div>
            </td>
            <td>
                <button id="btn-header-right" onclick="window.location.href=''">Noget andet</button>
            </td>
        </table>
    </div>
</header>
