<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>NRM: Add Extras</title>
</head>
<script>
    function getExtras() {
        let extras = document.getElementsByName("extras");
        for (let i = 0; i < extras.length; i++) {
            if (extras[i].id === "check" && extras[i].checked) {
                addExtras(extras[i].value)
            }
        }
        window.location.href = "http://localhost:8080/order-submitted";
    }
    function addExtras(id) {
        let xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/addExtra?extraId="+id, true);
        xhttp.send();
    }
</script>
<body>
<div th:replace="fragments/header :: header"></div>
    <div class="container-add-extras">
        <p class="p-text-over-underline">Tilføjelser til ordre</p>
        <hr class="hr-underline" size="4">
    <table class="table-class">
        <tr th:each="extra : ${extras}">
            <td><input type="checkbox" id="extras" name="extras" th:id="check" th:value="${extra.id}">
                <label for="extras" th:text="${extra.description}"></label></td>
        </tr>
    </table>
        <button class="btn" onclick="getExtras()" id="add-extras">Add extras</button>
    </div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>