<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>NRM: Create Order</title>
</head>
<script>
    var digits = ["1","2","3","4","5","6","7","8","9","0", "Tab", "Backspace", "Alt", "Control", "F1", "F2", "F3", "F4",
        "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "Escape", "Shift", "CapsLock", "NumLock", "Delete"]
    var deleteDigits = ["Delete", "Backspace", "Tab", "Escape", "Shift", "CapsLock", "NumLock", "Alt", "Control", "F1", "F2", "F3", "F4",
        "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12"]
    function submit (){
        var phone = document.getElementById("telephone").value;
        var card = document.getElementById("card-info").value;
        if(!document.getElementById("existing-email").value.contains("@")){
            phone = -1;
            card = -1;
        }
        document.getElementById("create-customer-form").submit();
    }
    window.onload = function (){
        validateCard();
        validateCardCvs();
        validatePhone();
        eventOnEnter();
        autofocus();
    }

    function validatePhone() {
        var inputTelephone = document.getElementById("telephone");
        inputTelephone.addEventListener("keydown", function (event) {
            console.log(event)
            if(!digits.includes(event.key)){
                inputTelephone.style.backgroundColor = "#FF0000";
                event.preventDefault();
            }else{
                inputTelephone.style.backgroundColor = "#FFFFFF";
            }
            if(inputTelephone.length === 8){
                inputTelephone.style.backgroundColor = "#7FFF00";
            }
        })
        //Hvis længden er 8, så grøn
    }

    //todo når man når den rigtige længde, så grøn.
    //todo evt. streg i kort?

    function validateCard() {
        var inputCard = document.getElementById("card-info");
        inputCard.addEventListener("keydown", function (event) {
            if(!digits.includes(event.key)){
                inputCard.style.backgroundColor = "#FF0000";
                event.preventDefault();
            }else{
                inputCard.style.backgroundColor = "#FFFFFF";
            }
            if(inputCard.length === 11){
                inputCard.style.backgroundColor = "#7FFF00";
            }
        })
    }

    function validateCardCvs() {
        var inputCard = document.getElementById("card-cvs");
        inputCard.addEventListener("keydown", function (event) {
            if(!digits.includes(event.key)){
                inputCard.style.backgroundColor = "#FF0000";
                event.preventDefault();
            }else{
                inputCard.style.backgroundColor = "#FFFFFF";
            }
            if(inputCard.length === 3){
                inputCard.style.backgroundColor = "#7FFF00";
            }
        })
    }

    function eventOnEnter() {
        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("keyup", function (event) {
                // console.log(event.key)
                if(event.key === "Enter"){
                    submit()
                }
            })
        }
    }
    //todo tjek om man kan tjekke om input felt er aktiveret

    function autofocus(){
        var element = document.getElementById("card-info");
        element.addEventListener("keydown", function(event) {
            if (element.value.length === 10) {
                console.log("FON")
                if (!digits.includes(event.key)) {
                    console.log("FON uden digits")
                    // console.log(element.value.length)
                    document.getElementById("card-date").focus();
                    document.getElementById("card-date").addEventListener("keydown", function (event) {
                        console.log("DATE")
                        var date = this.value;
                        var year = date.split("-")[0];
                        if (year.charAt(0) === "2") {
                            if (!digits.includes(event.key)) {
                                console.log("cvs")
                                document.getElementById("card-cvs").focus();
                            }
                        }
                    })
                }
            }
        })
    }

</script>
<body>
<div th:replace="fragments/header :: header"></div>

<div id="create-customer-div">
    <form id="create-customer-form" th:action="@{/submit-order}" method="post">
        <p>Eksisterende kunde</p>
        <hr size="4">
        <table id="table-øverst">
        <tr> <!-- TODO Lav dropdown menuer -->
            <td id="existing-email-td"><label for="input-eksisterende"></label></td>
            <div id="kunde-email-td"><td>
                <input id="input-eksisterende" type="text" name="existingEmail" placeholder="Indtast eksisterende e-mail"></td>
            </div>
        </tr>
        </table>
        <p>Kunde Information</p>
        <hr size="4">
        <table class="table-class">
            <tr>
            <tr>
                <td><label for="first-name">Fornavn: </label></td>
                <td><input type="text" id="first-name" name="firstName" autofocus="autofocus" placeholder="Fornavn"></td>
                <td><label for="last-name">Efternavn: </label></td>
                <td><input type="text" id="last-name" name="lastName" placeholder="Efternavn"></td>
            </tr>
            <tr>
                <td><label for="address">Adresse: </label></td>
                <!-- TODO Opsæt adresse i flere felter-->
                <td><input type="text" id="address" name="address" placeholder="Adresse"></td>
            </tr>
            <tr>
                <td><label for="telephone">Telefon:</label></td> <!-- -->
                <td><input type="text" maxlength="8" id="telephone" name="telephone" placeholder="Telefonnr."></td>
                <td><label for="email">E-mail: </label></td>
                <td><input type="text" id="email" name="email" placeholder="E-mail"></td>
            </tr>
            <tr>
                <td><label for="card-info">Kort information: </label></td>
                <!-- TODO Del op ift. tal og sådan-->
                <td><input type="text" maxlength="11" id="card-info" name="cardInfo" placeholder="Kort informationer"></td>
            </tr>
            <tr>
                <td><input type="date" id="card-date" name="cardDate" placeholder="Udløbsdato"></td>
                <td><input type="text" maxlength="3" id="card-cvs" name="cvs" placeholder="CVS"></td>
            </tr>
        </table>
            <p id="p1">Teknisk information</p>
            <hr id="hr1" size="4">
        <table class="table-class">
            <tr>
                <td><label for="pick-up">Pickup:&emsp;&emsp;&emsp;&emsp;</label></td>
                <td><input type="text" id="pick-up" name="pickup"></td> <!--todo vælge default pickup og dropoff -->
                <td><label for="drop-off">Dropoff:&ensp;&nbsp;</label></td>
                <td><input type="text" id="drop-off" name="dropoff"></td>
            </tr>
            <tr>
                <td><label for="start-date">Startdato: </label></td> <!--todo foreslå dato -->
                <td><input type="date" id="start-date" name="startDate" placeholder="dd-MM-yyyy"></td>
                <td><label for="end-date">Slutdato:</label></td>

                <td><input type="date" id="end-date" name="endDate" placeholder="dd-MM-yyyy"></td>
            </tr>
        </table>
        <div class="drop-down-motorhomes">
            <label for="motorhome-id"></label>
            <select class="form-control" id="motorhome-id" name="motorhomeId">
               <option>Motorhome types</option>
                <option th:each="motorhome : ${motorhomes}"
                        th:text="${motorhome.sizeName} + ' ' + ${motorhome.brandName}"
                        th:value="${motorhome.id}"></option>
            </select>
        </div>
        <div class="btn"> <button onclick="submit()">OPRET ORDRE</button></div>
    </form>
</div>

<!--    <div class="footer">-->
<!--        <p><b>Nordic Rental Motorhomes</b> <br>-->
<!--                Københavnsvej 334, 2600 Glostrup-->
<!--                <br> Telefon: 23 65 78 45 </br>-->
<!--              <a style="text-decoration: none" href="mailto:info@nordicrental.dk" class="mail">mail: info@nordicrental.dk</a></p>-->
<!--    </div>-->
</body>
</html>