<!DOCTYPE html>
<!--Sker der fam-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>NRM: Create Order</title>
</head>
<script th:inline="javascript">
    let digits = ["1","2","3","4","5","6","7","8","9","0", "Tab", "Backspace", "Alt", "Control", "F1", "F2", "F3", "F4",
        "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "Escape", "Shift", "CapsLock", "NumLock", "Delete",
        "ArrowLeft", "ArrowRight", "ArrowUp", "ArrowDown"]
    let inputDigits = ["Delete", "Backspace", "Tab", "Escape", "Shift", "CapsLock", "NumLock", "Alt", "Control", "F1", "F2", "F3", "F4",
        "F5", "F6", "F7", "F8", "F9", "F10", "F11", "F12", "ArrowLeft", "ArrowRight", "ArrowUp", "ArrowDown"]
    let customerDb = ["first-name", "last-name", "telephone", "email", "address", "card-info", "card-date", "card-cvs"];
    let allInput = ["first-name", "last-name", "telephone", "email", "address", "card-info", "card-date", "card-cvs", "pick-up", "drop-off", "start-date", "end-date"];

    window.onload = function (){
        validateCard();
        validateCardCvs();
        validatePhone();
        eventOnEnter();
        autofocus();
        autofillCustomer();
        checkAvailibility();
        checkInput("input-length-js", 4);
        checkInput("email", "@");
        checkInput("date", 2);
        checkInput("motorhome", 2);
    }
    //
    document.addEventListener("keyup", function(event){
        if (event.key === "Enter"){
            checkInputOnEnter(document.forms["create-customer-form"]);
        }
    })

    function autofillCustomer(){
        let element = document.getElementById("input-existing");
        let form = document.forms["create-customer-form"];
        element.addEventListener("keyup", function (event) {
            /*<![CDATA[*/
            let customers = /*[[${customers}]]*/ 'default';
            for (let i = 0; i < customers.length; i++) {
                if(element.value.toLowerCase() === customers[i].email.toLowerCase()){
                    setValues(customers[i], form);
                    setBackground(customerDb, "rgb(152,251,152,0.5)");
                } else {
                    removeValues(form);
                    setBackground(customerDb, "#FFFFFF");
                }
            }
            /*]]>*/
        })
    }

    function setValues(customer, form){
        form["first-name"].value = customer.firstName;
        form["last-name"].value = customer.lastName;
        form["address"].value = customer.address;
        form["telephone"].value = customer.telephone;
        form["email"].value = customer.email;
        form["card-info"].value = customer.cardInfo;
        form["card-date"].value = customer.expDate;
        form["card-cvs"].value = customer.cvs;
    }

    function setBackground(array, colour) {
        for (let i = 0; i < array.length; i++) {
            setBg(document.getElementById(array[i]), colour);
        }
    }

    function removeValues(form) {
        for (let i = 0; i < customerDb.length; i++) {
            form[customerDb[i]].value = null;
        }
    }

    function validatePhone() {
        let inputTelephone = document.getElementById("telephone");
        inputTelephone.addEventListener("keydown", function (event) {
            if(!digits.includes(event.key)){
                setBg(inputTelephone, "rgb(250,128,114,0.6)");
                event.preventDefault();
            }else{
                setBg(inputTelephone, "#FFFFFF");
            }
            if(inputTelephone.value.length > 7){
                setBg(inputTelephone, "rgb(152,251,152,0.5)");
            }
        });
    }

    function validateCard() {
        let inputCard = document.getElementById("card-info");
        inputCard.addEventListener("keydown", function (event) {
            if(!digits.includes(event.key)){
                setBg(inputCard, "rgb(250,128,114,0.6)");
                event.preventDefault();
            }else{
                setBg(inputCard, "#FFFFFF");
            }
            if(inputCard.length === 11){
                setBg(inputCard, "rgb(152,251,152,0.5)");
            }
        });
    }

    function validateCardCvs() {
        let inputCard = document.getElementById("card-cvs");
        inputCard.addEventListener("keydown", function (event) {
            if(!digits.includes(event.key)){
                setBg(inputCard, "rgb(250,128,114,0.6)");
                event.preventDefault();
            }else{
                setBg(inputCard, "#FFFFFF");
            }
            if(inputCard.length === 2){
                setBg(inputCard, "rgb(152,251,152,0.5)");
            }
        });
    }

    function eventOnEnter() {
        let inputs = document.getElementsByTagName("input");
        let form = document.forms["create-customer-form"];
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener("keyup", function (event) {
                if(event.key === "Enter"){
                    checkInputOnEnter(form);
                }
            });
        }
    }

    function checkInputOnEnter(form){
        let list = [];
        for (let j = 0; j < allInput.length; j++) {
            if(document.getElementById(allInput[j]).value.length === 0){
                list.push(allInput[j]);
            }
        }
        if(list.length > 0){
            setBackground(list, "rgb(250,128,114,0.6)");
        } else {
            form.submit();
        }
    }

    function autofocus() {
        let cardInfo = document.getElementById("card-info");
        let cardDate = document.getElementById("card-date");
        let cardCvs = document.getElementById("card-cvs");
        cardInfo.addEventListener("keyup", function (event) {
            let element = document.getElementById("card-info");
            element.addEventListener("keydown", function (event) {
                if (element.value.length === 10) {
                    if (!digits.includes(event.key)) {
                        document.getElementById("card-date").focus();
                        document.getElementById("card-date").addEventListener("keydown", function (event) {
                            let date = this.value;
                            let year = date.split("-")[0];
                            if (year.charAt(0) === "2") {
                                if (!digits.includes(event.key)) {
                                    document.getElementById("card-cvs").focus();
                                }
                            }
                        });
                    }
                }
            });

            cardInfo.addEventListener("keyup", function (event) {
                if (cardInfo.value.length === 11) {
                    if (!inputDigits.includes(event.key)) {
                        setBg(cardInfo, "rgb(152,251,152,0.5)");
                        cardDate.focus();
                    }
                }
            });
            cardDate.addEventListener("keyup", function (event) {
                let year = this.value.split("-")[0];
                if (!inputDigits.includes(event.key)) {
                    if (year.charAt(0) === "2") {
                        setBg(cardDate, "rgb(152,251,152,0.5)")
                        cardCvs.focus();
                    }
                }
            });
            cardCvs.addEventListener("keyup", function (event) {
                if (cardCvs.value.length === 3) {
                    setBg(cardCvs, "rgb(152,251,152,0.5)")
                    document.getElementById("pick-up").focus();
                }
            });
        })
    }

    function checkInput(specification, length) {
        if (specification === "email") {
            let element = document.getElementById(specification)
            element.addEventListener("keydown", function (event) {
                if (element.value.includes("@") && element.value.includes(".")) {
                    setBg(element, "rgb(152,251,152,0.5)");
                } else {
                    setBg(element, "#FFFFFF");
                }
            })
        } else if (specification === "date") {
            let dates = document.getElementsByClassName("date")
            for (let i = 0; i < dates.length; i++) {
                dates[i].addEventListener("keydown", function (event) {
                    let year = this.value.split("-")[0];
                    if (year.charAt(0) === "2") {
                        setBg(dates[i], "rgb(152,251,152,0.5)");
                    } else {
                        setBg(dates[i], "#FFFFFF");
                    }
                })
            }
        } else if (specification === "motorhome") {
            let element = document.getElementById("motorhome-id");
            element.addEventListener("click", function (event) {
                let selected = element.options.selectedIndex;
                if (selected !== 0) {
                    setBg(element, "rgb(152,251,152,0.5)")
                    setBg(element.options[selected], "rgba(152,251,152,0.5)");
                    for (let i = 0; i < element.options.length; i++) {
                        if (element.options[i].index !== selected) {
                            let item = element.options.namedItem(element.options[i].id);
                            if (item !== null && !item.disabled){
                                setBg(element.options[i], "#FFFFFF")
                            }
                        }
                    }
                } else {
                    setBg(element, "#FFFFFF");
                }
            })
        } else {
            let elements = document.getElementsByClassName(specification);
            for (let i = 0; i < elements.length; i++) {
                elements[i].addEventListener("keydown", function (event) {
                    if (elements[i].value.length > length) {
                        setBg(elements[i], "rgb(152,251,152,0.5)")
                    }
                    if (elements[i].value.length < length) {
                        setBg(elements[i], "#FFFFFF")
                    }
                })
            }
        }
    }

    function checkAvailibility() {
        /*<![CDATA[*/
        let booked = /*[[${bookedHomes}]]*/ 'default';
        let options = document.getElementById("motorhome-id");
        document.getElementById("motorhome-id").addEventListener("click", function (event) {
            let count = {};
            for (const i of booked) {
                count[i.motorhomeId] = (count[i.motorhomeId]||0) + 1;
            }
            for (let i = 0; i < booked.length; i++) {
                let bookedStartSplit = booked[i].startDate.split("-");
                let bookedStart = new Date(bookedStartSplit[0], parseInt(bookedStartSplit[1]) - 1, bookedStartSplit[2]);
                let bookedEndSplit = booked[i].endDate.split("-");
                let bookedEnd = new Date(bookedEndSplit[0], parseInt(bookedEndSplit[1]) - 1, bookedEndSplit[2]);

                let dates = document.getElementsByClassName("date");
                let startDateSplit = dates[0].value.split("-");
                let startDate = new Date(startDateSplit[0], parseInt(startDateSplit[1]) - 1, startDateSplit[2]);
                let endDateSplit = dates[1].value.split("-");
                let endDate = new Date(endDateSplit[0], parseInt(endDateSplit[1]) - 1, endDateSplit[2]);
                if (count[booked[i].motorhomeId] >= 3) {
                    if (startDate >= bookedStart && startDate <= bookedEnd || endDate >= bookedStart && endDate <= bookedEnd) {
                        options.options.namedItem(booked[i].motorhomeId).disabled = true;
                        setBg(options.options.namedItem(booked[i].motorhomeId), "rgb(250,128,114,0.6)");
                    } else {
                        options.options.namedItem(booked[i].motorhomeId).disabled = false;
                        setBg(options.options.namedItem(booked[i].motorhomeId), "#FFFFFF");
                    }
                }
            }
        });
        /*]]>*/
    }

    function setBg(element, colour){
        element.style.backgroundColor = colour;
    }
</script>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <form id="create-customer-form" th:action="@{/submit-order}" method="post">
        <p class="p-text-over-underline">Eksisterende kunde</p>
        <hr class="hr-underline" size="4">
        <table id="table-upper">
            <tr id="existing-email-td"><label for="input-existing"></label></tr>
            <div id="kunde-email-td"><td>
                <input class="input-length-js" id="input-existing" type="text" name="existingEmail" placeholder="Indtast eksisterende e-mail"></td>
            </div>
        </tr>
        </table>

        <p class="p-text-over-underline">Kunde Information</p>
        <hr class="hr-underline" size="4">
        <div style="overflow-x:auto">
        <table class="table-class">
            <tbody id="table-class-costumer-info">
            <tr>
            <tr>
                <td class="table-class-td-class"><label for="first-name">Fornavn: </label></td>
                <td class="table-class-td-class-left"><input type="text" class="input-length-js" id="first-name" name="firstName" autofocus="autofocus" placeholder="Fornavn"></td>
                <td class="table-class-td-class"><label for="last-name">Efternavn: </label></td>
                <td class="table-class-td-class"><input type="text" class="input-length-js" id="last-name" name="lastName" placeholder="Efternavn"></td>
            </tr>
            <tr>
                <td class="table-class-td-class"><label for="address">Adresse: </label></td>
                <td class="table-class-td-class-left"><input type="text" class="input-length-js" id="address" name="address" placeholder="Adresse"></td>
            </tr>
            <tr>
                <td class="table-class-td-class"><label for="telephone">Telefon:</label></td> <!-- -->
                <td class="table-class-td-class-left"><input type="text" minlength="8" maxlength="8" id="telephone" name="telephone" placeholder="Telefonnr."></td>
                <td class="table-class-td-class"><label for="email">E-mail: </label></td>
                <td class="table-class-td-class"><input type="text" id="email" name="email" placeholder="E-mail"></td>
            </tr>
            <tr>
                <td class="table-class-td-class"><label for="card-info">Kort information: </label></td>
                <td class="table-class-td-class-left"><input type="text" minlength="11" maxlength="11" id="card-info" name="cardInfo" placeholder="Kort informationer"></td>
                <td class="table-class-td-class"><label for="card-date">Udløbsdato: </label></td>
                <td class="table-class-td-class"><input type="date" id="card-date" name="expDate" placeholder="Udløbsdato"></td>
            </tr>
            <tr>
                <td class="table-class-td-class"><label for="card-cvs">Kontrolcifre:</label></td>
                <td class="table-class-td-class-left"><input type="text" minlength="3" maxlength="3" id="card-cvs" name="cvs" placeholder="CVS"></td>
            </tr>
            </tbody>
        </table>
        </div>
            <p class="p-text-over-underline">Teknisk information</p>
            <hr class="hr-underline" size="4">
        <div style="overflow:auto">
        <table class="table-class">
            <tr>
                <td class="table-class-td-class"><label for="pick-up">Pickup:</label></td>
                <td class="table-class-td-class"><input type="text" class="input-length-js" id="pick-up" name="pickup"></td>
                <td class="table-class-td-class"><label for="drop-off">Dropoff:</label></td>
                <td class="table-class-td-class-fucker"><input type="text" class="input-length-js" id="drop-off" name="dropoff"></td>
            </tr>
            <tr>
                <td class="table-class-td-class"><label for="start-date">Startdato: </label></td>
                <td class="table-class-td-class"><input type="date" class="date" id="start-date" name="startDate" placeholder="dd-MM-yyyy"></td>
                <td class="table-class-td-class"><label for="end-date">Slutdato:</label></td>
                <td class="table-class-td-class-fucker"><input type="date" class="date" id="end-date" name="endDate" placeholder="dd-MM-yyyy"></td>
            </tr>
        </table>
        </div>
        <div class="drop-down-motorhomes">
            <label for="motorhome-id"></label>
            <select class="form-control" id="motorhome-id" name="motorhomeId">
               <option>Motorhome types</option>
                <option th:each="motorhome : ${motorhomes}"
                        th:text="${motorhome.sizeName} + ' ' + ${motorhome.brandName}"
                        th:id="${motorhome.id}"
                        th:value="${motorhome.id}"></option>
            </select>
        </div>

        <div> <button class="btn"type="submit" form="create-customer-form">OPRET ORDRE</button></div>

    </form>
</div>
<!--    <div class="footer">-->
<!--        <p><b>Nordic Rental Motorhomes</b> <br>-->
<!--                Københavnsvej 334, 2600 Glostrup-->
<!--                <br> Telefon: 23 65 78 45 </br>-->
<!--              <a style="text-decoration: none" href="mailto:info@nordicrental.dk" class="mail">mail: info@nordicrental.dk</a></p>-->
<!--    </div>-->
</body>
</html>