<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>NRM: Error</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container" id="error-div">
        <h1>Error 500: Internal Server Error</h1>
        <h2>Der er problemer med serveren.</h2>
        <h3>Venligst prøv igen senere.</h3>
        <h3>Telefon: +45 11111111</h3>
        <h3>E-mail: Support@OurBsns.com</h3>
    </div>
</body>
</html>