<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <h1>Your login information was wrong >:c</h1>
    <footer>
        <div class="footer">
            <p><b>Nordic Rental Motorhomes</b> <br>
                Københavnsvej 334, 2600 Glostrup
                <br> Telefon: 23 65 78 45 </br>
                <a style="text-decoration: none" href="mailto:info@nordicrental.dk" class="mail">mail: info@nordicrental.dk</a></p>
        </div>
    </footer>
</body>
</html>