<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>NRM: Fleet-oversigt</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div><h1 style="text-align: center">Fleet oversigt</h1></div>
    <hr class="hr-underline" size="4"><br>
    <table id="fleet-table" class="table-class">
        <tbody id="fleet-tbody">
        <th class="fleet-th"></th>
        <th class="fleet-th">Mærke</th>
        <th class="fleet-th">Str.</th>
        <th class="fleet-th">Pris pr. nat</th>
        <tr id="fleet-tr" th:each="motorhome : ${motorhomes}">
            <td class="fleet-td" id="fleet-img-td"><img class="fleet-img" th:src="@{${motorhome.imgPath}}" alt="test"></td>
            <td class="fleet-td" id="fleet-name-td" th:text="${motorhome.brandName}"></td>
            <td class="fleet-td" id="fleet-size-td" th:text="${motorhome.sizeName}"></td>
            <td class="fleet-td" id="fleet-price-td" th:text="${motorhome.sizePrice} + '€'"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>