<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">


    <style>
    .header {
    padding: 30px;
    height: 250px;
    text-align: center;
    background: cadetblue;
    color: darkslategrey;
    font-size: 30px;
    }
        .button{
            color: lightgrey;
            background:cadetblue;
            padding: 15px 32px;
            text-align: center;
            font-size: 16px;
            border-radius: 12px;
        }
    </style>
    <header>
    <div class="header">
        <h1 id="header-title" onclick="window.location.href=''">Nordic Rental Motorhomes </h1> <img src="../static/img/motorhome.png" alt="motorhome">
        <p align="left"><button class="button" onclick="window.location.href='create-order.html'">Opret ordre</button></p>
        <p align="left"><button class="button" onclick="window.location.href=''">Noget andet</button></p>
        <p align="left"><button class="button" onclick="window.location.href=''">Noget tredje</button></p>

    </div>
</header>
</html>