<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>NRM: Order submitted!</title>
</head>
<body>

<h1>ORDER IS SUBMITTED</h1>

    <div class="order-info-div">
        <table>

            <tr>
                <td th:text="'Order ID: ' + ${order.id}"></td>
            </tr>
            <tr>
                <td th:text="'MotorhomeId: ' + ${order.motorhomeId}"></td>
            </tr>
            <tr>
                <td th:text="'CustomerId: ' + ${order.customerId}"></td>
            </tr>
            <tr>
                <td th:text="'Pickup: ' + ${order.pickup}"></td>
            </tr>
            <tr>
                <td th:text="'Dropoff: ' + ${order.dropoff}"></td>
            </tr>
            <tr>
                <td th:text="'Startdate: ' + ${order.startDate}"></td>
            </tr>
            <tr>
                <td th:text="'Enddate: ' + ${order.endDate}"></td>
            </tr>
            <tr>
                <td th:text="'Nights: ' + ${order.nights}"></td>
            </tr>
            <tr>
                <td th:text="'Deposit: ' + ${order.deposit} + ' £'"></td>
            </tr>

        </table>
    </div>


</body>
</html>