<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>TEST</title>-->
<!--</head>-->
<!--<body>-->
<!--    <p>Just a test, right here. Seeing if this shit works.</p>-->

<!--    <form th:action="@{/test-create}" method="post">-->
<!--        <input type="text" id="test" name="test_column">-->
<!--        <input type="submit" value="Create">-->
<!--    </form>-->

<!--    <table>-->
<!--        <tr th:each="test : ${test}">-->
<!--            <td th:text="${test.test_column}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->